$font-base: "Roboto", "Arial", sans-serif;
// $tablet: "max-width: 1023px";
// $mobile: "max-width: 767px";
$retina: "min-resolution: 1.5dppx";
$color-white: #ffffff;
$color-black: #000000;
$color-default: #4E4E4E;
$color-title:#373737;
$color-bg-grey: #F5F6F7;
$color-design-btn:#00AFDB;
$color-btn-hover: #009CC2;

